#main-title {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
}

.main-list {
    font-family: 'Times New Roman', Times, serif;
    color: purple;
}

.main {
    background-color: black;
}